<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul style="list-style: none;">
        <% for(let i = 0; i<starwars.length; i++){ %>
            <li style=padding-bottom:6px;><a href="/starwars/<%= i %>"><%= starwars[i] %> </a></li>
        <% }%>
    
    </ul>
</body>
</html>